<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <ion-row>
            <ion-col class="item-content-center">
                <ion-button color="primary" (click)="actionGet()"
                    ><ion-icon name="ticket"></ion-icon
                ></ion-button>
                <div>发票助手</div>
            </ion-col>
            <ion-col class="item-content-center">
                <ion-button color="primary" (click)="actionGet()"
                    ><ion-icon name="ticket"></ion-icon
                ></ion-button>
                <div>发票助手</div>
            </ion-col>
            <ion-col class="item-content-center">
                <ion-button color="primary" (click)="actionGet()">
                    <ion-icon name="ticket"></ion-icon
                ></ion-button>
                <div>发票助手</div>
            </ion-col>
            <ion-col class="item-content-center">
                <ion-button color="primary" (click)="actionGet()">
                    <ion-icon name="ticket"></ion-icon
                ></ion-button>
                <div>发票助手</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
